VITE_SUPABASE_URL=https://lqxxgtqgwagnmqwjiuqq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxeHhndHFnd2Fnbm1xd2ppdXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNDE2MDksImV4cCI6MjA5MDYxNzYwOX0.iUbJIw0AF5sWaHuRfxT8gqPGEkVqElr5xwqJd8rDrrE
VITE_MAPBOX_ACCESS_TOKEN=YOUR_MAPBOX_TOKEN
VITE_ONESIGNAL_APP_ID=YOUR_ONESIGNAL_APP_ID
